@media screen and (max-width: 576px) {
    *, *::before,
    *::after {
        box-sizing: content-box;
    }
}
.carousel-item > img {
    max-height: 90vh;
    background-position: center;
    object-fit: cover;
}
.img-acceuil > img{
    width: 100%;
    background-position: center;
    object-fit: contain;
}
.img-acceuil, .text-acceuil {
    padding : unset;
}
nav,.card-img-top {
    background-color: #19252B;
}